<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Bienvenidos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container" style="margin-top:30px;">
		<ul class="nav nav-pills nav-fill"  id="myTab" role="tablist">
	  		 <li class="nav-item">
    			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Productos</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Usuarios</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Ordenes</a>
  			</li>
  			<li class="nav-item">
  				<a class="nav-link" id="token-tab" data-toggle="tab" href="#token" role="tab" aria-controls="token" aria-selected="false">Token</a>
  			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<br>
				<h3 class="text-center">Agregar Productos</h3>
				<form action="#" th:action="@{/}" th:object="${productos}" method="post">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Nombre:</label>
								<input class="form-control" id="name_product" name="name_product" type="text" placeholder="Nombre producto"/>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Descripcion:</label>
								<input class="form-control" id="description_product" name="description_product" type="text" placeholder="Descripcion del producto"/>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Precio:</label>
								<input class="form-control" id="price_product" name="price_product" type="text" placeholder="Precio del producto"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<input class="btn btn-success form-control" type="submit" value="Guardar"/>
						</div>
						<div class="col-md-3">
							<button class="btn btn-danger form-control" type="reset">Reset</button>
						</div>
					</div>
				</form>
				<hr>
				<h3 class="text-center">Productos</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Precio</th>
						</tr>
					</thead>
					<tbody>
						 <tr th:each="producto : ${productos}">
    						<td th:text="${producto.id}"></td>
    						<td th:text="${producto.name_product}"></td>
    						<td th:text="${producto.description_product}"></td>
    						<td th:text="'$ '+${producto.price_product}"></td>
  						</tr>
					</tbody>
				</table>
			</div>
  			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  				<br>
  				<h3 class="text-center">Agregar Usuarios</h3>	
				<form action="#" th:action="@{/usuarios}" th:object="${usuarios}" method="POST">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Nombre:</label>
								<input class="form-control" id="name" name="name" type="text" placeholder="Nombre del producto">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Apellido:</label>
								<input class="form-control" id="lastName" name="lastName" type="text" placeholder="Descripcion del producto">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Fecha de Nacimiento:</label>
								<input class="form-control" id="birthdate" name="birthdate" type="date" placeholder="Fecha de Nacimiento">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Email:</label>
								<input class="form-control" id="emailAddress" name="emailAddress" type="email" placeholder="example@example.com">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Telefono:</label>
								<input class="form-control" id="phone" name="phone" type="text" placeholder="Telefono...">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>DNI Number:</label>
								<input class="form-control" id="dniNumber" name="dniNumber" type="text" placeholder="DNI Number...">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label>Calle:</label>
								<input class="form-control" id="street1" name="street1" type="text" placeholder="Calle...">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Ciudad:</label>
								<input class="form-control" id="city" name="city" type="text" placeholder="Ciudad...">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>CP:</label>
								<input class="form-control" id="postalCode" name="postalCode" type="text" placeholder="Código Postal...">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Pais:</label>
								<input class="form-control" id="contry" name="contry" type="text" placeholder="Pais...">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<button class="btn btn-success form-control" type="submit">Guardar</button>
						</div>
						<div class="col-md-3">
							<button class="btn btn-danger form-control" type="reset">Reset</button>
						</div>
					</div>
				</form>
				<hr>
				<h3 class="text-center">Usuarios</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>apellido</th>
							<th>Fecha Nac</th>
							<th>Email</th>
							<th>Telefono</th>
							<th>DNI</th>
							<th>Domicilio</th>
						</tr>
					</thead>
					<tbody>
						 <tr th:each="usuario : ${usuarios}">
    						<td th:text="${usuario.id}"></td>
    						<td th:text="${usuario.name}"></td>
    						<td th:text="${usuario.lastName}"></td>
    						<td th:text="${usuario.birthdate}"></td>
    						<td th:text="${usuario.emailAddress}"></td>
    						<td th:text="${usuario.phone}"></td>
    						<td th:text="${usuario.dniNumber}"></td>
    						<td th:text="${usuario.street1}+' '+${usuario.city}+', '+${usuario.contry}+', '+${usuario.postalCode}+'.'"></td>
  						</tr>
					</tbody>
				</table>
  			</div>
  			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  				<br>
  				<h3 class="text-center">Crear una orden</h3>
  				<div class="row justify-content-center">
    				<div class="col-6">
      					<div class="card">
  							<div class="card-body">
    							<form action="#" th:action="@{/ordenes}" th:object="${model}" method="POST">
    								<div class="form-group">
    									<label>Usuario:</label>
    									<select class="form-control" id="usuarioId" name="usuarioId">
   											<option value="">Elige un usuario:</option>
											<option th:each="usuario : ${usuarios}"
               									th:value="${usuario.id}"
               									th:text="${usuario.id}+' -> '+${usuario.name}">
               								</option>
                						</select>
    								</div>
    								<div class="form-group">
    									<label>Producto:</label>
    									<select class="form-control" id="productoId" name="productoId">
    											<option value="">Elige un producto:</option>
												<option th:each="producto : ${productos}"
                									th:value="${producto.id}"
                									th:text="${producto.id}+' -> '+${producto.name_product}">
                								</option>
    									</select>
    								</div>
<!--     								<div class="form-group"> -->
<!--     									<label>Cantidad:</label> -->
<!--     									<input class="form-control" type="number" min="0" id="cantidad-orden" name="cantidad-orden" required="true"> -->
<!--     								</div> -->
    								<hr>
    								<div th:object="${cc}">	
	    								<div class="form-group">
	    									<label>Nombre de la tarjeta:</label>
	    									<input class="form-control" id="name" name="name" type="text">
	    								</div>
	    								<div class="form-group">
	    									<label>Num. tarjeta:</label>
	    									<input class="form-control" id="number" name="number" type="number" maxlength="16">
	    								</div>
	    								<div class="row">
	    									<div class="col-md-4">
		    									<div class="form-group">
		    									<label>Fecha</label>
				    								<input class="form-control" id="expirationDate" name="expirationDate" placeholder="AAAA/MM" type="text">
			    								</div>
		    								</div>
		    								<div class="col-md-4">
		    									<div class="form-group">
		    										<label>Método de pago:</label>
			    									<select class="form-control" id="paymentMethod" name="paymentMethod">
			    										<option value="VISA">VISA</option>
			    										<option value="MASTERCARD">MASTERCARD</option>
			    									</select>
			    								</div>
		    								</div>
		    								<div class="col-md-4">
		    									<div class="form-group">
		    										<label>Security code:</label>
			    									<input class="form-control" id="securityCode" name="securityCode" maxlength="3" placeholder="CVC" type="password">
			    								</div>
		    								</div>
	    								</div>
    								</div>
    								<hr>
    								<div class="row justify-content-end">
   										<div class="form-group" style="margin-right:10px;">
   											<button type="submit" class="btn btn-success">Comprar</button>
   										</div>
   										<div class="form-group">
   											<button type="reset" class="btn btn-danger">Cancelar</button>
   										</div>
    								</div>
    							</form>
  							</div>
						</div>
				    </div>
				</div>
  			</div>
  			<div class="tab-pane fade" id="token" role="tabpanel" aria-labelledby="token-tab">
  				<br>
  				<h3 class="text-center">Crear TOKEN</h3>
  				<div class="row justify-content-center">
    				<div class="col-8">
      					<div class="card">
  							<div class="card-body">
    							<form action="#" th:action="@{/token}" th:object="${creditCardToken}" method="POST">
    								<div class="form-group" th:object="${usuario}">
    									<label>Usuario:</label>
											<select class="form-control" id="payerId" name="payerId">
    											<option value="">Elige un usuario:</option>
												<option th:each="usuario : ${usuarios}"
                									th:value="${usuario.id}"
                									th:text="${usuario.id}+' -> '+${usuario.name}">
                								</option>
                							</select>
    								</div>
    								<hr>
    								<h4 class="text-center">Datos de la tarjeta</h4>
    								<div class="form-group">
    									<label for="nombre_token">Nombre Tarjeta</label>
    									<input type="text" id="name" name="name" class="form-control" />
    								</div>
    								<div class="form-group">
    									<label for="identificador">Identificador</label>
    									<input type="text" id="identificationNumber" name="identificationNumber" class="form-control" />
    								</div>
    								<div class="form-group">
    									<label for="metodoPago">Método de pago</label>
    									<select class="form-control" name="paymentMethod" id="paymentMethod">
    										<option value="VISA">VISA</option>
    										<option value="MASTERCARD">MASTERCARD</option>
 										</select>
    								</div>
    								<div class="col-md-6">
    									<div class="form-group">
	    									<label for="numeroToken">Número de tarjeta</label>
	    									<input th:type="number" id="number" name="number" class="form-control" maxlength="16"/>
	    								</div>
    								</div>
    								<div class="col-md-6">
    									<div class="form-group">
	    									<label for="fechaToken">Fecha de expiración</label>
	    									<input type="text" id="expirationDate" name="expirationDate" class="form-control" />
	    								</div>
    								</div>
    								<hr>
    								<div class="row justify-content-end">
   										<div class="form-group" style="margin-right:10px;">
   											<button type="submit" class="btn btn-success">Generar</button>
   										</div>
   										<div class="form-group">
   											<button type="reset" class="btn btn-danger">Limpiar</button>
   										</div>
    								</div>
    							</form>
    						</div>
    					</div>
    				</div>
    			</div>
  			</div>
		</div>
		
	</div>
	
<!--     <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post"> -->
<!--     	<p>Id: <input type="text" th:field="*{id}" /></p> -->
<!--         <p>Message: <input type="text" th:field="*{content}" /></p> -->
<!--         <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p> -->
<!--     </form> -->
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>